<div *ngIf="crime">
  <div>
    <label>Case number: </label> {{crime.case_number}}
  </div>
  <div>
    <label>Type: </label> {{crime.type_crime}}
  </div>
  <div>
    <label>Community Area: </label> {{crime.community_area}}
  </div>
 
  <span class="button is-small btn-primary" *ngIf='crime.arrested' (click)='updateActive(false)'>Free</span>
 
  <span class="button is-small btn-primary" *ngIf='!crime.arrested' (click)='updateActive(true)'>Arrested</span>
 
  <span class="button is-small btn-danger" (click)='deleteCrime()'>Delete</span>
 
  <hr />
</div>