<div style="padding: 20px;">
  <h1 style="color: blue;">neighborHOOD</h1>
  <h3>Angular - Django App</h3>
    <nav>
      <a routerLink="/crime" class="btn btn-primary active" role="button" routerlinkactive="active">Crimes</a>
      <a routerLink="/report" class="btn btn-primary active" role="button" routerlinkactive="active">Report</a>
      <a routerLink="/search" class="btn btn-primary active" role="button" routerlinkactive="active">Search</a>
    </nav>
    <router-outlet></router-outlet>
</div>