<div align = center>
  <h3>Report a Crime</h3>
  <div [hidden]="submitted" style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <!-- <div class="form-group">
        <label for="case_number">Case_number</label>
        <input type="text" class="form-control" id="case_number" required [(ngModel)]="crime.case_number" name="case_number">
      </div> -->
  
      <!-- <div class="form-group">
        <label for="type_crime">Crime Type</label>
        <input type="text" class="form-control" id="type_crime" required [(ngModel)]="crime.type_crime" name="type_crime">
      </div> -->
      <div class="form-group">
          <label for="type_crime">Crime Type</label>
          <select class="form-control" id= "type_crime" required [(ngModel)]="crime.type_crime" name="type_crime">
              <option *ngFor="let type of type_crimes " [value]="type">{{type}}</option>
          </select>
      </div>

      <!-- <div class="form-group">
          <label for="type_crime">Domestic</label>
          <input type="text" class="form-control" id="domestic" required [(ngModel)]="crime.domestic" name="domestic">
      </div> -->

      <div class="form-group">
        <label for="type_crime">Location description</label>
        <input type="text" class="form-control" id="location_desc" required [(ngModel)]="crime.location_desc" name="location_desc">
    </div>


    <!-- <div class="form-group">
      <label for="type_crime">Domestic</label>
      <input type="text" class="form-control" id="domestic" required [(ngModel)]="crime.domestic" name="domestic">
  </div> -->

      <div class="form-group">
        <label for="type_crime">Block/Address</label>
        <input type="text" class="form-control" id="location" required [(ngModel)]="crime.location" name="location">
      </div>

      <div class="form-group">
        <label for="type_crime">Community Area</label>
        <input type="text" class="form-control" id="community_area" required [(ngModel)]="crime.community_area" name="type_crime">
      </div>


      <div class="form-group">
        <label for="type_crime">Date</label>
        <input type="text" class="form-control" id="date" required [(ngModel)]="crime.date" name="date">
      </div>

      <!-- <div class="form-group">
        <label for="type_crime">Arrested</label>
        <input type="text" class="form-control" id="arrested" required [(ngModel)]="crime.arrested" name="arrested">
      </div> -->
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  
  <!-- <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newCrime()">Add</button>
  </div> -->
</div>
