<h3>Find By Community Area</h3>
<div style="width: 300px;">
<form (ngSubmit)="onSubmit()">  
<div class="form-group">
      <label for="case_number">Community_Area</label>
      <input type="text" class="form-control" id="community_area" required [(ngModel)] ="community_area" name="community_area">
</div>
 
<div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
</div>
</form>  
</div>
<ul>
   <li *ngFor="let crime of crimes">
<h4>{{crime.case_number}} - {{crime.type_crime}}</h4>
</li>
</ul>